.cardItem {
  background-color: rgba(213, 216, 209, 0.369);

  margin-top: 1%;
  margin-bottom: 1%;
  text-align: justify;
  width: max(24%, 350px);
}

.cardImage {
  display: block;
  max-width: 100%;
  max-height: 210px;
}

.details {
  margin-top: 10px;
  padding: 4%;
}

.icon {
  float: right;
  margin-left: 12px;
  height: 24px;
}

.star {
  float: left;
  margin-left: 12px;
  height: 24px;
}

.modal {
  position: centerd;
  margin-top: 25vh;
}

@media (max-height: 700px) {
  .modal {
    margin-top: 15vh;
  }
}

@media (max-height: 500px) {
  .modal {
    margin-top: 5vh;
  }
}
