@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2vh;
  margin-bottom: 3.5vh;
}

.name {
  font-family: "Dancing Script", cursive;
  font-size: 2.7rem;
}

@media only screen and (min-width: 500px) {
  .name {
    font-size: 4rem;
  }
}