.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

.searchArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addProductButton {
  height: 70%;
}

.shoppingList {
  height: 70%;
}

.searchInput {
  max-width: 400px;
  background-color: rgba(161, 161, 161, 0.328);
  background-image: url("../images/loupe.png");
  background-size: 2.5vh;
  background-repeat: no-repeat;
  background-position: 7px;
  text-indent: 30px;
  border: rgba(58, 53, 53, 0.205) 2px solid;
}

.tableContent {
  white-space: pre;
}

.thead {
  background-color: rgba(104, 98, 98, 0.219);
}

.headItem {
  display: grid;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 80% 20%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
